@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-Regular.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

h1, 
h2,
h3,
h4,
h5,
h6{
  font-family: 'Poppins', sans-serif;
}

body{
  font-family: 'Nunito';
  color: #130E01;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta{
  color: #ffffea;
  background: #174351;
  box-shadow: 2px 1px 2px 2px #17455121;
  transition: all 500ms ease-in-out;
}

.cta:hover{
  transform: scale(1.1);
}