@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rokkitt';
  src: url('./fonts/Rokkitt-Bold.ttf') format('truetype');
}

h1, 
h2,
h3,
h4,
h5,
h6{
  font-family: 'Rokkitt';
}

body{
  font-family: 'Nunito';
}